use nix
source $HOME/.cloudera/info.sh

export ROOT=$(pwd)
export TF=$(pwd)/src/main/opentf/ssb_base

export THE_PWD=Super@Secret1
export YCLOUD_ROOT_KEY=$HOME/.ssh/root_key
export CLOUDERA_MANAGER_LICENSE_FILE=$HOME/.cloudera/license.txt

export EQUINIX_METAL_BASTION_USER=root
export METAL_DOMAIN=metal.zndx.org
export METAL_DOMAIN_PREFIX=dev
export METAL_REALM_PREFIX=DEV
export METAL_ROOT_KEY=$HOME/.ssh/rch_equinix_rsa

export CDP_AIRFLOW_VERSION=2.3.4
export DEV_PYTHON_VERSION=3.9
export AIRFLOW_CONSTRAINTS=https://raw.githubusercontent.com/apache/airflow/constraints-${CDP_AIRFLOW_VERSION}/constraints-${DEV_PYTHON_VERSION}.txt
export AIRFLOW_CONSTRAINTS_FILE=airflow-constraints-${CDP_AIRFLOW_VERSION}_${DEV_PYTHON_VERSION}.txt
export ANSIBLE_INVENTORY=$(pwd)/runner/inventory
export ANSIBLE_INVENTORY_IGNORE=".orig, .bak, .ini, .cfg, .retry, .pyc, .pyo, .conf"
export ANSIBLE_HOST_KEY_CHECKING=False

# Also manually set the short name value in:
# - runner/project/files/setup-ipa.sh
# - runner/project/files/cmca.json
#export YCLOUD_SHORT_NAME=$(echo $USER)-dev
export KEYTABS_DIR=/keytabs
#export REALM_PREFIX=$(echo $USER | tr '[a-z]' '[A-Z]')-DEV
export KRB_DOMAIN=$METAL_DOMAIN_PREFIX.$METAL_DOMAIN
export REALM_NAME=$(echo $KRB_DOMAIN | tr '[a-z]' '[A-Z]')
export IPA_SERVER_HOST=admin-01.$(echo $KRB_DOMAIN)
export IPA_ADMIN_PASSWORD=$THE_PWD
export DIRECTORY_MANAGER_PASSWORD=$THE_PWD
export CM_PRINCIPAL_PASSWORD=$THE_PWD
export USER_PASSWORD=$THE_PWD

# same as in runner/projects/files/pg10_setup.sql
export DEFAULT_PG_PASSWORD=password

export CM_URL=https://admin-02.$(echo $KRB_DOMAIN):7183

export CM_PRINCIPAL=cloudera-scm

export USERS_GROUP=cdp-users
export ADMINS_GROUP=cdp-admins

# include local overrides
dotenv

